h1 {
  font-family: minionBold;
  color: #222226;
}
p, .pfeature, .pregular {
  font-family: minionRegular;
  color: #222226;
}
button {
  font-family: minionBold;
  background-color: none;
  color: #222226;
  border: none;
}
h2, h3, h4, h5, h6 {
  font-family: 'Hind', sans-serif;
}
h1 {
  font-size: 4em;
}
h2, h3 {
  font-size: 2.2em;
  line-height: 2.2em;
  font-weight: 600;
  color: #222226;
}
h2 {
  text-transform: uppercase;
}
h4, h5, h6 {
  color: #716F7D;
  font-weight: 400;
}

h4 {
  font-size: 1.4em;
}

h5, h6 {
  font-size: 1.4em;
  line-height: 2em;
}

h6 {
  text-transform: uppercase;
}

.pfeature {
  font-size: 1.6em;
  line-height: 1.6em;
}

.pregular {
  font-size: 1.4em;
  line-height: 1.4em;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #222226;
}

* {
  margin: 0;
  padding: 0;
  }