h1 {
  font-family: minionBold;
  color: #222226;
}
p, .pfeature, .pregular {
  font-family: minionRegular;
  color: #48474C;
  line-height: 1.6em;
}
button {
  font-family: minionBold;
  background-color: none;
  color: #222226;
  border: none;
}
input:focus, button:focus {
  outline: 0;
}
a:hover, button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

h2, h3, h4, h5, h6 {
  font-family: 'Hind', sans-serif;
}
h1 {
  font-size: 4em;
}
h2, h3 {
  font-size: 1.6em;
  line-height: 2.2em;
  font-weight: 600;
  color: #222226;
}
h2 {
  text-transform: uppercase;
}
h4, h5, h6 {
  color: #716F7D;
  font-weight: 400;
}

h4, h6 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: center;
}

h6 {
  text-transform: uppercase;
}

.pfeature {
  font-size: 1.6em;
}

.pregular {
  font-size: 1.4em;
}


img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #222226;
}
::selection {
  background: #FEFBD8; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FEFBD8; /* Gecko Browsers */
}
* {
  margin: 0;
  padding: 0;
  }