h1, h2 {
  font-family: minionBold;
  color: #17021E;
}
p, .pfeature, .pregular, .pquote {
  font-family: minionRegular;
  color: #17021E;
}
button {
  font-family: minionBold;
  background-color: white;
  color: #222226;
  border: none;
}
h3, h4 {
  font-family: 'Hind', sans-serif;
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 2.2em;
  color: #222226;
  font-weight: 600;
  line-height: 2em;
}
h4 {
  font-size: 1.4em;
  color: #716F7D;
  text-transform: uppercase;
  font-weight: 400;
}
.pfeature {
  font-size: 1.8em;
  line-height: 1.6em;
}
.pregular, .pquote{
  font-size: 2.2em;
}
.pquote {
  text-align: center;
}

.white {
  color: #FFFFFF;
}

.centertext {
  text-align: center;
}


img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #222226;
}

* {
  margin: 0;
  padding: 0;
  }